
<style>
    body{
        font-family:'Courier New', Courier, monospace;
    }

    form {
        text-align: center;
        margin: 50px;
    }
</style>

    <div class="jumbotron">
        <h1 style="text-align: center; margin: 1em;">Course Finder: Fall20-Spr21 </h1>
        <p></p>
    </div>

    <p class="p-3 m-3 border border-secondary bg-secondary">
        This is an app that will let
        users pick Brandeis courses for the year. This will use only the 
        2020-2021 Academic year data. You must signup or login to see
        the courses and create your schedule.
    </p>
    
    <% if (true || loggedIn) {%>  
        <form method="post" action="/courses/bySubject" style="margin-bottom: 20px;">
            Show Courses by <b>Subject:</b>
            <br>
             
              <input type="text" name="subject" 
                     placeholder="e.g. COSI">
            <input class="btn btn-secondary" type="submit" value="Submit">
        </form>
        <br>
        <form method="post" action="/courses/byInst" style="margin-bottom: 20px;">
           Show Courses by Instructor  <b>Email: </b>
           <br>
            
            <input type="text" name="email" 
                   placeholder="e.g. tjhickey">
            <input class="btn btn-secondary" type="submit" value="Submit">
        </form>
        <br>
        <form method="post" action="/courses/byKey" style="margin-bottom: 20px;">
            Show courses by<b> Keyword</b>
            <br>
            
            <input type="text" name="keyword" 
                   placeholder="e.g. diversity">
            <input class="btn btn-secondary" type="submit" value="Submit">
        </form>
        <br>
        <a href="/schedule/show">Show Schedule</a>
    <% } %>


