<style>
    body{
        font-family:'Courier New', Courier, monospace;
    }
  </style>

  <h1>
    NBA Player Search
  </h1>
  <p class="p-3 m-3 border border-primary bg-light">
    This app allows the user to search for nba players as of 
    2022, and can add them to their list of favorite players.
    Users must signup or login favorite players.
</p>

<% if (true || loggedIn) {%> 
    <form method="post" action="/players/byName" style="margin-bottom: 20px;">
        Find players by <b>Name (first or last name only):</b>
        <br>
       
          <input type="text" name="name" 
                 placeholder="e.g. James">
 
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
    <br>
    <form method="post" action="/players/byId" style="margin-bottom: 20px;">
        Find players by <b>ID Number: </b>
         
         <input type="text" name="id" 
                placeholder="e.g. 237">
         <input class="btn btn-primary" type="submit" value="Submit">
     </form>
     <br>
     <form method="post" action="/players/byPosition" style="margin-bottom: 20px;">
         Find players by<b> Position: </b> 
         
         <input type="text" name="position" 
                placeholder="e.g. F (Forward)">
         <input class="btn btn-primary" type="submit" value="Submit">
     </form>
     <br>
     <a href="/favorites/show">Show Favorites</a>
 <% } %>
